@import url("https://unpkg.com/chota@latest");

@media (prefers-color-scheme: light) {
	:root {
		--background-color: #f9f9f9;
		--icon-color: currentColor;
		--color-primary: #50e3c2;
		--secondary-color: #e0e0e0;
		--container-background: #ffffff;
		--button-color: #fff;
		--timestamp-color: #4a90e2;
		--text-color: #333333;
	}
}
@media (prefers-color-scheme: dark) {
	:root {
		--background-color: #121212;
		--icon-color: #e0e0e0;
		--color-primary: #008170;
		--secondary-color: #333333; 
		--container-background: #1e1e1e;
		--button-color: #e0e0e0;
		--timestamp-color: #1e90ff;
		--text-color: #e0e0e0;
	}
}
body {
    margin: 0;
    padding: 0;
    padding-top: 5em;
    background-color: var(--background-color);
    font-size: 16px;
}

.icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    stroke-width: 0;
    stroke: var(--icon-color);
    fill: var(--icon-color);
}

.audio-container, .file-input {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 0.0625em solid rgba(0, 0, 0, .15);
    width: 100%;
    background: var(--container-background);
    box-shadow: 0 0.25em 0.5em rgba(0, 0, 0, 0.1);
    border-radius: 0.625em;
	padding-bottom: 1em;
	/*position: fixed;
    top: 0;
    left: 0; */
    z-index: 1000;
}

.audio-container {
	display:none;
}
input[type="file"] {
    font-size: 1em;
    color: var(--text-color);
    border: none;
    outline: none;
    cursor: pointer;
    padding: 0.5em 1em;
    background: var(--secondary-color);
    border-radius: 0.3125em;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.progress-time-container {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0 0.625em;
    box-sizing: border-box;
}

.progress-container {
    flex: 1;
    background: var(--secondary-color);
    overflow: hidden;
    cursor: pointer;
    margin-top: 0;
    border-radius: 0.3125em;
    margin-right: 0.625em;
}

.progress-bar {
    width: 0;
    height: 1em;
    background: var(--color-primary);
    border-radius: 0.3125em 0 0 0.3125em;
}
.time-indicators {
    float: right;
    font-size: 0.875em;
    color: var(--text-color);
}

.controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 0.625em;
    box-sizing: border-box;
    margin-top: 0.625em;
}

.left-controls, .right-controls {
    display: flex;
    align-items: center;
    gap: 1em;
}

label {
	color: var(--text-color);
}

input[type="range"] {
    appearance: none;
    width: 6.25em;
    height: 0.5em;
    background: var(--secondary-color);
    outline: none;
    border-radius: 0.3125em;
    opacity: 0.7;
    transition: opacity 0.15s ease-in-out;
    margin: 0 0.3125em;
}

input[type="range"]:hover {
    opacity: 1;
}

button {
    background-color: var(--color-primary);
    color: var(--button-color);
    border: none;
    border-radius: 0.3125em;
    padding: 0.5em 1em;
    margin: 0.3125em;
    cursor: pointer;
    font-size: 1em;
}

#customTime {
    border-radius: 0.3125em;
    padding: 0.5em 1em;
    margin: 0 0.3125em;
    font-size: 1em;
    border: 0.0625em solid rgba(0, 0, 0, .15);
    width:3em;
    background:var(--container-background);
    color: var(--text-color);
}
/*
.editor {
	flex: 1;
    box-shadow: 0 0.25em 0.5em rgba(0, 0, 0, 0.2);
    border: 0.0625em solid rgba(0, 0, 0, .15);
    border-radius: 0.3125em;
    padding: 2em;
    background-color: var(--container-background);
    color: var(--text-color);
    max-height: none;
    overflow-y: visible;
    outline: none;
} */
/* Conteneur principal en trois colonnes */
.editor-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100vh;
    gap: 1em; /* Espacement entre les colonnes */
}

/* Première colonne : Barre d'outils gauche */
.toolbar {
    background-color: var(--container-background);
    padding: 1em;
    border-right: 0.0625em solid rgba(0, 0, 0, 0.1);
    box-shadow: 0.25em 0 0.5em rgba(0, 0, 0, 0.1);
}

/* Deuxième colonne : Éditeur */
.editor {
    flex: 1; /* Prend tout l’espace restant */
    box-shadow: 0 0.25em 0.5em rgba(0, 0, 0, 0.2);
    border: 0.0625em solid rgba(0, 0, 0, 0.15);
    border-radius: 0.3125em;
    padding: 2em;
    background-color: var(--container-background);
    color: var(--text-color);
    max-height: none;
    overflow-y: auto;
    outline: none;
}

.toolbar2 {
    background-color: var(--container-background);
    padding: 1em;
    border-left: 0.0625em solid rgba(0, 0, 0, 0.1);
    box-shadow: -0.25em 0 0.5em rgba(0, 0, 0, 0.1);
}

/* Responsive : Ajustement en petit écran */
@media (max-width: 768px) {
    .editor-container {
        flex-direction: column;
        height: auto;
    }

    .toolbar, .toolbar2 {
        flex: 0 0 auto;
        width: 100%;
        border: none;
        box-shadow: none;
    }

    .editor {
        flex: 1;
    }
}


.timestamp {
    color: var(--timestamp-color);
    cursor: pointer;
    text-decoration: none;
}

.speed-display, .word-count {
    font-size: 1.125em;
    margin-top: 0.625em;
    color: var(--text-color);
}

.subtitle {
    margin: 5px 0;
}
.subtitle.active {
    background-color: #ffeb3b;
    font-weight: bold;
}
.box {
    background: var(--container-background);
    padding: 1em;
    box-shadow: 0 0.25em 0.5em rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, border-color 0.3s ease;
 }

