<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SocioTranscribe ‑ Retranscrire automatiquement les entretiens</title>
	<link rel="stylesheet" type="text/css" href="static/style.css">
</head>
<body>
	<nav class="nav">
	  <div class="nav-left">
			<a class="brand" href="#">SocioTranscribe</a>
		</div>
		<div class="nav-right">
			<div class="tabs">
			  <a href="/">Retranscription</a>
			  <a href="/correction">Correction</a>
			</div>
		</div>
	</nav>
	<main class="box">
		<form action="/" method="post" enctype="multipart/form-data">
			  <label for="email">Votre adresse courriel :</label>
			<input type="email" name="email" id="email"><br><br>
			
			<label for="file">Choisissez un fichier audio :</label>
			<input type="file" name="file" id="file" required accept="audio/*, video/*"><br><br>
			
			<label for="modele">Modèle Whisper :</label>
			<select name="modele" id="modele">
				<option value="tiny" {% if DEFAULT_MODEL == 'tiny' %}selected{% endif %}>tiny</option>
				<option value="base" {% if DEFAULT_MODEL == 'base' %}selected{% endif %}>base</option>
				<option value="small" {% if DEFAULT_MODEL == 'small' %}selected{% endif %}>small</option>
				<option value="medium" {% if DEFAULT_MODEL == 'medium' %}selected{% endif %}>medium</option>
				<option value="large-v3" {% if DEFAULT_MODEL == 'large-v3' %}selected{% endif %}>large-v3</option>
			</select><br><br>
			
			<label for="format">Format de sortie :</label>
			<select name="format" id="format">
				<option value="plain-timecode" {% if DEFAULT_FORMAT == 'plain-timecode' %}selected{% endif %}>Plain Timecode</option>
				<option value="plain" {% if DEFAULT_FORMAT == 'plain' %}selected{% endif %}>Plain</option>
				<option value="raw" {% if DEFAULT_FORMAT == 'raw' %}selected{% endif %}>Raw</option>
				<option value="html" {% if DEFAULT_FORMAT == 'html' %}selected{% endif %}>HTML</option>
				<option value="nvivo" {% if DEFAULT_FORMAT == 'nvivo' %}selected{% endif %}>NVivo</option>
				<option value="elan" {% if DEFAULT_FORMAT == 'elan' %}selected{% endif %}>ELAN</option>
				<option value="sonal" {% if DEFAULT_FORMAT == 'sonal' %}selected{% endif %}>Sonal</option>
				<option value="json" {% if DEFAULT_FORMAT == 'json' %}selected{% endif %}>JSON</option>
				<option value="otr" {% if DEFAULT_FORMAT == 'otr' %}selected{% endif %}>OTranscribe</option>
				<option value="webvtt" {% if DEFAULT_FORMAT == 'webvtt' %}selected{% endif %}>WebVTT</option>
				<option value="srt" {% if DEFAULT_FORMAT == 'srt' %}selected{% endif %}>SRT</option>
			</select><br><br>

			<label for="speakers">Nombre de locuteurs :</label>
			<input type="number" name="speakers" id="speakers" value="{{ DEFAULT_SPEAKERS }}" min="1"><br><br>

			<input type="submit" value="Transcrire">
		</form>
		<h2>Fichiers téléversés</h2>
		<table>
			<thead>
				<tr>
					<th>Fichier d’entrée</th>
					<th>Fichier de sortie</th>
					<th>Journal</th>
					<th>Modèle</th>
					<th>Format</th>
					<th>Locuteurs</th>
					<th>Date de soumission</th>
					<th>Date de traitement</th>
					<th>Durée de traitement</th>
					<th>Courriel</th>
					<th>Statut</th>
					<th>Correction</th>
				</tr>
			</thead>
			<tbody>
				{% for row in data %}
				<tr>
					{% for cell in row %}
					<td>
						{% if loop.index in [1, 2, 3] %}
						<a href="{{ cell[0] }}" target="_blank">{{ cell[1] }}</a>
						{% else %}
						{{ cell }}
						{% endif %}
					</td>
					{% endfor %}
					<td>
						<a href="/correction?audio={{ row[0][0] }}&subtitle={{ row[1][0] }}" target="_blank" class="button">Corriger</a>
					</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</main>
	<footer class="text-center"><a href="https://framagit.org/justinmponcet/whisper">Code source</a> - SocioTranscribe {{ version }}</footer>
</body>
</html>
